<!DOCTYPE html>
<html ng-app="angularSeed" ng-controller="AppCtrl">
<head>
<title ng-bind="pageTitle"></title>
<link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css"/>
<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
<link rel="stylesheet" type="text/css" href="<%= file %>"/><% }); %>

</head>
<body>

    <header ui-view="header"></header>
    <main ui-view="main"></main>
    <footer ui-view="footer"></footer>


<script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="components/angular/angular.min.js"></script>
<script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.js"></script>

<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script><% }); %>
</body>
</html>
